<!-- ~ Copyright (c) 2018-2019 Blacknet Team ~ ~ Licensed under the Jelurida Public License version 1.1 ~ for the Blacknet Public Blockchain Platform (the "License"); ~ you may not use this file except in compliance with the License. ~ See the LICENSE.txt file at the top-level directory of this distribution. -->

<!DOCTYPE html>
<html lang="en" ng-app="blacknet">
  <head>
    <meta charset="utf-8">
    <title>Blacknet Explorer</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/mobile.css"/>
    <link rel="stylesheet" href="/css/index.css">
    <script type="text/javascript" src="/js/angular.min.js"></script>
    <script type="text/javascript" src="/js/bignumber.min.js"></script>
    <script type="text/javascript" src="/js/numeral.min.js"></script>
    <script type="text/javascript" src="/js/resources.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
    <script>
      Supply = {{overview.supply}}
    </script>
    {% if i18n.locale == 'ja' %}
      <style>
        .nav a{font-size:12px;}
      </style>
    {% endif %}
    <meta name="applicable-device" content="mobile">
    <meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, user-scalable=no">
    <meta name="description" property="og:description" content="Blacknet Explorer.Explorer.Blacknet is extensible proof-of-stake network.
.">
  </head>
  <body ng-controller="bodyController">
    <div class="dialog account">
      <div class="header"></div>
      <div class="body" style="margin-top: 300px;">
        {% include "spinner.njk" %}
      </div>
    </div>
    <header id="chead">
      <div class="logo">
        <a href="/"><span data-i18n="Blacknet Explorer">Blacknet Explorer</span></a>
      </div>
      <div class="touch-menu">
        <button ng-click="toggleNav()">{% include 'media/menusvg.njk'%}</button>
      </div>
      <div class="nav">
        <a href="/recent_blocks" class="{% if recent %}active{% endif %}"><span>{{i18n.Blocks}}</span></a>
        <a href="/recent_transactions" class="{% if recent_transactions %}active{% endif %}"><span>{{i18n.Transactions}}</span></a>
        <a href="/top_accounts" class="{% if top_accounts %}active{% endif %}"><span>{{i18n.TopAccounts}}</span></a>
        <a href="/dashboard" class="{% if dashboard %}active{% endif %}"><span>{{i18n.Network}}</span></a>
        <a href="/api" class="{% if apis %}active{% endif %}"><span>API</span></a>
        <a href="/about" class="{% if about %}active{% endif %}"><span>{{i18n.About}}</span></a>
      </div>
      <div class="network">
        <p>
          <span>{{i18n.Supply}}</span>:<span class="supply strong">{{overview.supply}}</span>
          <span>{{i18n.Conn}}</span>:<span class="connections strong">{{overview.outgoing + overview.incoming}}</span></p>
      </div>
      <div class="nav-form">
        <form method="get" action="/search">
          <input class="input-sm" autocomplete="off" type="search" placeholder="Search for block, transaction or address" aria-label="Search" name="q">
        </form>
      </div>
    </header>
    <div class="content" id="content">
      <div class="under">
        {% include "spinner.njk" %}
      </div>
      <div class="wrap" ng-cloak>
        
        <form id="search-form" class="search-form" action="/search" method="get">
              <input id="keyword" type="text" name="q" placeholder="Search for block, transaction or address" autocomplete="off" value="">
        </form>
        

        {% block content %}{% endblock %}
      </div>
    </div>

    {% block carousel %}{% endblock %}

    {% block video %}{% endblock %}

    {% block statistic %}{% endblock %}

    <footer>
      <a href="/about">About</a>
      <a href="https://gitlab.com/blacknet-ninja/blacknet-explorer">Source Code</a>
    </footer>
  </body>

</html>