{% extends "base.njk" %}

{% block content %}
<div ng-controller="blockController" id="block_detail" data-height="{{height}}">
    <h3 >Block Info</h3>
        <table>
        <tbody>
            <tr>
                <td class="height" >{{i18n.Height}}</td>
                <td>
                    <span class="overview_height">${block.height}</span>
                </td>
            </tr>
            <tr>
                <td >{{i18n.BlockHash}}</td>
                <td>
                    <span class="overview_blockHash" ng-if='block.height != 0'>${ block.blockHash.toLowerCase()}</span>
                    <span class="overview_blockHash" ng-if='block.height == 0'>${ block.blockHash.toUpperCase()}</span>
                </td>
            </tr>
            <tr>
                <td >{{i18n.BlockTime}}</td>
                <td>
                    <span>${block.time|timestr}</span>
                </td>
            </tr>
            <tr>
                <td >{{i18n.BlockSize}}</td>
                <td>
                    <span>${block.size} bytes</span>
                </td>
            </tr>
            <tr>
                <td >{{i18n.Reward}}</td>
                <td>
                    <span class="strong">${block.reward} BLN</span>
                </td>
            </tr>
            <tr>
                <td >{{i18n.Generator}}</td>
                <td>
                    <span ng-if='block.height != 0'><a href="/${block.generator.toLowerCase()}">${block.generator.toLowerCase()}</a></span>
                    <span ng-if='block.height == 0'>${block.generator.toLowerCase()}</span>
                </td>
            </tr>
            <tr>
                <td >{{i18n.Signature}}</td>
                <td>
                    <span>${block.signature.toLowerCase()}</span>
                </td>
            </tr>

        </tbody>
    </table>
    <h3 >{{i18n.Transactions}}</h3>
    <table id="block-table" class="block-detail">
        <thead>
            <tr>

                <td>{{i18n.Time}}</td>
                <td>{{i18n.Type}}</td>
                <td>{{i18n.Account}}</td>
                <td>{{i18n.Amount}}</td>
            </tr>
        </thead>
        <tbody id="block-list">
            <tr ng-if="block.transactions" ng-repeat="tx in block.transactions">
                <td class="time">${block.time | timestr}</td>
                <td>${tx.type | txType}</td>
                <td class="address" style="line-height:1.8">
                    <a ng-if="tx.from != 'genesis'" href="/${tx.from}">${tx.from}</a><br ng-if="tx.data.to" />
                    <a ng-if="tx.data.to" href="/${tx.data.to}">${tx.data.to}</a>
                    <a ng-if="tx.from == 'genesis'" href="/${tx.to}">${tx.to}</a>
                </td>
                <td class="right"><span class="strong">${tx.data.amount|currency} BLN</span></td>
            </tr>
            <tr ng-if="!block.transactions">
                <td colspan="4">
                    {% include "spinner.njk" %}
                </td>
            </tr>
        </tbody>
    </table>

</div>
{% endblock %}