{% extends "base.njk" %}

{% block content %}
    <h3 >{{i18n.PeerInfo}}</h3>
    <h4> {{i18n.ConnectedPeers}} <span class="strong"> {{currentPeers.length}}</span></h4>
    <table id="peer-table">
        <thead>
            <tr>
                <td class="mobile-hide">{{i18n.Index}}</td>
                <td >{{i18n.Host}}</td>
                <td class="mobile-hide">{{i18n.Port}}</td>
                <td >{{i18n.Country}}</td>
                <td class="mobile-hide" >{{i18n.AddPeer}}</td>
            </tr>
        </thead>
        <tbody id="block-list">
            {% for peer in currentPeers %}
                <tr>
                    <td class="mobile-hide">{{loop.index}}</td>
                    <td>{{peer.ip}}</td>
                    <td class="mobile-hide">{{peer.port}}</td>
                    <td>{{ peer.location["country_name"] if peer.location["country_name"] else "Unknown" }}</td>
                    <td class="mobile-hide"><a target="_blank" href="http://127.0.0.1:8283/api/v1/addpeer/{{peer.ip}}/{{peer.port}}/true">Connect</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}