{% extends "base.njk" %}

{% block content %}
    {% include "media/table.njk" %}
    
    <h3>{{i18n.RecentTransactions}}</h3>
    <table id="block-table" class="txns" ng-controller="recent_transactions">
        <thead>
            <tr>
                <td class="">{{i18n.Height}}</td>
                <td class="time">{{i18n.Time}}</td>
                <td>{{i18n.Type}}</td>
                <td class="txhash">{{i18n.TxHash}}</td>
                <td class="amount">{{i18n.Amount}}</td>
            </tr>
        </thead>
        <tbody id="block-list">
            <tr ng-if="transactions.length > 0" ng-repeat="tx in transactions">
                <td class=""><a href="/${tx.data.blockHeight}">${tx.data.blockHeight}</a></td>
                <td class="time">${tx.time | realstr}</td>
                <td>${tx.type | txType}</td>
                <td class="txhash">
                    <a href="/${tx.txid.toLowerCase()}">${tx.txid.toLowerCase()}</a> 
                </td>
                <td  class="right amount"><span class="strong">${tx.data.amount | currency |touch} BLN</span></td>
            </tr>
            <tr ng-if="transactions.length == 0">
                <td colspan="5">
                    {% include "spinner.njk" %}
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}